<a href="/" class="{% if page.title  %}{% else %}current{% endif %}">Home</a>
<a href="/about_us.html" class="{% if page.title == 'About Us' %}current{% endif %}">About Us</a>
<a href="/gallery.html" class="{% if page.title == 'Gallery' %}current{% endif %}">Gallery</a>
<a href="/services.html" class="{% if page.title == 'Services' %}current{% endif %}">Services</a>
<a href="/contact_us.html" class="{% if page.title == 'Contact Us' %}current{% endif %}">Contact Us</a>
<!-- <a href="/links.html" class="{% if page.title == 'Links' %}current{% endif %}">Links</a> -->
